# Повторение переговоров о зарплате работника и фирмы

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.read_excel('firm_and_worker_2019-10-25.xlsx', header=None, sheet_name=1)

,0,1
0,participant.id_in_session,номер участника
1,participant.label,имя
2,participant.payoff,выигрыш за игру
3,player.id_in_group,"1 - фирма, 2 - работник"
4,player.payoff,выигрыш в раунде
5,group.id_in_subsession,номер пары участников
6,group.salary,зарплата
7,group.staff,усилия работника (30 или 0)
8,group.fail,"если усилия работника равны 0, а значение этог..."
9,group.num_rounds_new,номер раунда
10,session.code,код сессии; всего игралось 3 сессии
11,NaN,NaN
12,NaN,Бот выбирает 65 за фирму и соглашается на 40 и...

- Бот выбирает 65 за фирму и соглашается на 40 и выше за работника.
- Есть параметр, который определяет сорвался проект или нет, если усилия работника были равны 0. (group.fail > 25 - проект срывается)

In [4]:
data = pd.read_excel('firm_and_worker_2019-10-25.xlsx', sheet_name=0)

In [5]:
data['group.fail'] = data['group.fail'].apply(lambda x: int(x > 25))

In [6]:
data

,participant.id_in_session,participant.label,participant.payoff,player.id_in_group,player.payoff,group.id_in_subsession,group.salary,group.staff,group.fail,group.num_rounds_new,subsession.round_number,session.code
0,1,Меньшиков Мопс,140,1,40,3,60,30,0,4,1,m2s8g1dl
1,2,Валиева,40,2,0,4,45,0,1,5,1,m2s8g1dl
2,3,Меньшиковп Ольга,20,2,20,2,50,30,0,1,1,m2s8g1dl
3,4,Мустафин Глеб,360,1,40,1,60,30,0,9,1,m2s8g1dl
4,5,Черкез Даниил,50,1,50,2,50,30,0,1,1,m2s8g1dl
5,6,Колчинский Иван,140,2,30,3,60,30,0,4,1,m2s8g1dl
6,7,Горшков Виталий,50,1,50,5,50,30,0,1,1,m2s8g1dl
7,8,Саттаров Олег,270,2,30,1,60,30,0,9,1,m2s8g1dl
8,9,Наседкин Илья,20,2,20,5,50,30,0,1,1,m2s8g1dl
9,10,Елсуков,100,1,0,4,45,0,1,5,1,m2s8g1dl
10,1,Меньшиков Мопс,140,1,30,3,70,30,0,4,2,m2s8g1dl
11,2,Валиева,40,2,20,4,50,30,0,5,2,m2s8g1dl
12,3,Меньшиковп Ольга,20,2,0,2,0,0,1,1,2,m2s8g1dl
13,4,Мустафин Глеб,360,1,40,1,60,30,0,9,2,m2s8g1dl
14,5,Черкез Даниил,50,1,0,2,0,0,1,1,2,m2s8g1dl
15,6,Колчинский Иван,140,2,40,3,70,30,0,4,2,m2s8g1dl
16,7,Горшков Виталий,50,1,0,5,0,0,1,1,2,m2s8g1dl
17,8,Саттаров Олег,270,2,30,1,60,30,0,9,2,m2s8g1dl
18,9,Наседкин Илья,20,2,0,5,0,0,1,1,2,m2s8g1dl
19,10,Елсуков,100,1,50,4,50,30,0,5,2,m2s8g1dl
20,1,Меньшиков Мопс,140,1,40,3,60,30,0,4,3,m2s8g1dl
21,2,Валиева,40,2,20,4,50,30,0,5,3,m2s8g1dl
22,3,Меньшиковп Ольга,20,2,0,2,0,0,1,1,3,m2s8g1dl
23,4,Мустафин Глеб,360,1,40,1,60,30,0,9,3,m2s8g1dl
24,5,Черкез Даниил,50,1,0,2,0,0,1,1,3,m2s8g1dl
25,6,Колчинский Иван,140,2,30,3,60,30,0,4,3,m2s8g1dl
26,7,Горшков Виталий,50,1,0,5,0,0,1,1,3,m2s8g1dl
27,8,Саттаров Олег,270,2,30,1,60,30,0,9,3,m2s8g1dl
28,9,Наседкин Илья,20,2,0,5,0,0,1,1,3,m2s8g1dl
29,10,Елсуков,100,1,50,4,50,30,0,5,3,m2s8g1dl
...,...,...,...,...,...,...,...,...,...,...,...,...
570,1,Саттаров Олег,450,1,0,1,0,0,1,10,18,pofssptm
571,2,Черкез,295,1,0,2,0,0,1,7,18,pofssptm
572,3,Колчинский Иван,225,2,0,2,0,0,1,7,18,pofssptm
573,4,Горшков Виталий,35,1,0,3,0,0,1,1,18,pofssptm
574,5,Мустафин Глеб,100,2,0,4,0,0,1,5,18,pofssptm
575,6,Наседкин Илья,250,2,0,1,0,0,1,10,18,pofssptm
576,7,Елсуков,45,1,0,5,0,0,1,2,18,pofssptm
577,8,Меньшиков Мопс,35,2,0,3,0,0,1,1,18,pofssptm
578,9,Валиева,25,2,0,5,0,0,1,2,18,pofssptm
579,10,Меньшикова Ольга,180,1,0,4,0,0,1,5,18,pofssptm
580,1,Саттаров Олег,450,1,0,1,0,0,1,10,19,pofssptm
581,2,Черкез,295,1,0,2,0,0,1,7,19,pofssptm
582,3,Колчинский Иван,225,2,0,2,0,0,1,7,19,pofssptm
583,4,Горшков Виталий,35,1,0,3,0,0,1,1,19,pofssptm
584,5,Мустафин Глеб,100,2,0,4,0,0,1,5,19,pofssptm
585,6,Наседкин Илья,250,2,0,1,0,0,1,10,19,pofssptm
586,7,Елсуков,45,1,0,5,0,0,1,2,19,pofssptm
587,8,Меньшиков Мопс,35,2,0,3,0,0,1,1,19,pofssptm
588,9,Валиева,25,2,0,5,0,0,1,2,19,pofssptm
589,10,Меньшикова Ольга,180,1,0,4,0,0,1,5,19,pofssptm
590,1,Саттаров Олег,450,1,0,1,0,0,1,10,20,pofssptm
591,2,Черкез,295,1,0,2,0,0,1,7,20,pofssptm
592,3,Колчинский Иван,225,2,0,2,0,0,1,7,20,pofssptm
593,4,Горшков Виталий,35,1,0,3,0,0,1,1,20,pofssptm
594,5,Мустафин Глеб,100,2,0,4,0,0,1,5,20,pofssptm
595,6,Наседкин Илья,250,2,0,1,0,0,1,10,20,pofssptm
596,7,Елсуков,45,1,0,5,0,0,1,2,20,pofssptm
597,8,Меньшиков Мопс,35,2,0,3,0,0,1,1,20,pofssptm
598,9,Валиева,25,2,0,5,0,0,1,2,20,pofssptm
599,10,Меньшикова Ольга,180,1,0,4,0,0,1,5,20,pofssptm

**Рассмотрим первую сессию.**

In [28]:
data[['participant.label', 'group.num_rounds_new']][:10]

  participant.label  group.num_rounds_new
0    Меньшиков Мопс                     4
1           Валиева                     5
2  Меньшиковп Ольга                     1
3     Мустафин Глеб                     9
4     Черкез Даниил                     1
5   Колчинский Иван                     4
6   Горшков Виталий                     1
7     Саттаров Олег                     9
8     Наседкин Илья                     1
9           Елсуков                     5

In [17]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

**Какие зарплаты предлагали продавцы:**

In [54]:
values_1 = data[(data['player.id_in_group'] == 1) & (data['session.code'] == 'm2s8g1dl')].\
    groupby('participant.label')['group.salary'].apply(lambda x: list(x.values))
ends = [1, 5, 4, 9, 1]
for i, (index, val) in enumerate(values_1.iteritems()):
    values_1[index] = val[:ends[i]]
values_1

participant.label
Горшков Виталий                                    [50]
Елсуков                            [45, 50, 50, 50, 45]
Меньшиков Мопс                         [60, 70, 60, 70]
Мустафин Глеб      [60, 60, 60, 60, 60, 60, 60, 60, 60]
Черкез Даниил                                      [50]
Name: group.salary, dtype: object

**Какие усилия прилагали работники:**

In [56]:
values_2 = data[(data['player.id_in_group'] == 2) & (data['session.code'] == 'm2s8g1dl')].\
    groupby('participant.label')['group.staff'].apply(lambda x: list(x.values)[:9])
ends = [5, 4, 1, 1, 9]
for i, (index, val) in enumerate(values_2.iteritems()):
    values_2[index] = val[:ends[i]]
values_2

participant.label
Валиева                                [0, 30, 30, 0, 0]
Колчинский Иван                         [30, 30, 30, 30]
Меньшиковп Ольга                                    [30]
Наседкин Илья                                       [30]
Саттаров Олег       [30, 30, 30, 30, 30, 30, 30, 30, 30]
Name: group.staff, dtype: object

**Когда срывалась работа:**

In [60]:
values_3 = data[(data['player.id_in_group'] == 2) & (data['session.code'] == 'm2s8g1dl')].\
    groupby('participant.label')['group.fail'].apply(lambda x: list(x.values)[:9])
for i, (index, val) in enumerate(values_3.iteritems()):
    values_3[index] = val[:ends[i]]
values_3

participant.label
Валиева                         [1, 0, 0, 1, 1]
Колчинский Иван                    [0, 0, 0, 0]
Меньшиковп Ольга                            [0]
Наседкин Илья                               [0]
Саттаров Олег       [0, 0, 0, 0, 0, 0, 0, 0, 0]
Name: group.fail, dtype: object

**В первой сессии все предложения фирмы были > 40, практически всегда работниками прикладывались усилия. Работа срывалась 3 раза у одной пары участников, во все случаи, когда участник не прикладывал усилия при зарплате в 45 и 50.**

**Рассмотрим вторую сесиию.**

In [62]:
np.unique(data['session.code'])

array(['4jlp636g', 'm2s8g1dl', 'pofssptm'], dtype=object)

In [63]:
data[data['session.code'] == '4jlp636g'][['participant.label', 'group.num_rounds_new']][:10]

    participant.label  group.num_rounds_new
200            Черкез                     5
201           Валиева                    15
202   Колчинский Иван                    15
203  Меньшикова Ольга                     2
204     Мустафин Глеб                     2
205   Горшков Виталий                     3
206     Саттаров Олег                     5
207    Меньшиков Мопс                     3
208           Елсуков                     8
209     Наседкин Илья                     8

In [65]:
values_1 = data[(data['player.id_in_group'] == 1) & (data['session.code'] == '4jlp636g')].\
    groupby('participant.label')['group.salary'].apply(lambda x: list(x.values))
ends = [15, 3, 2, 8, 5]
for i, (index, val) in enumerate(values_1.iteritems()):
    values_1[index] = val[:ends[i]]
values_1

participant.label
Валиева             [50, 55, 50, 50, 50, 60, 60, 60, 60, 65, 60, 6...
Меньшиков Мопс                                           [65, 65, 65]
Меньшикова Ольга                                             [50, 50]
Наседкин Илья                        [50, 40, 50, 50, 50, 55, 55, 55]
Черкез                                           [65, 65, 65, 65, 64]
Name: group.salary, dtype: object

In [67]:
values_2 = data[(data['player.id_in_group'] == 2) & (data['session.code'] == '4jlp636g')].\
    groupby('participant.label')['group.staff'].apply(lambda x: list(x.values))
ends = [3, 8, 15, 2, 5]
for i, (index, val) in enumerate(values_2.iteritems()):
    values_2[index] = val[:ends[i]]
values_2

participant.label
Горшков Виталий                                         [30, 30, 30]
Елсуков                                 [0, 0, 30, 0, 0, 30, 30, 30]
Колчинский Иван    [0, 0, 0, 0, 30, 30, 30, 30, 30, 30, 30, 30, 3...
Мустафин Глеб                                               [30, 30]
Саттаров Олег                                   [30, 30, 30, 30, 30]
Name: group.staff, dtype: object

In [68]:
values_2.values

array([list([30, 30, 30]), list([0, 0, 30, 0, 0, 30, 30, 30]),
       list([0, 0, 0, 0, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30]),
       list([30, 30]), list([30, 30, 30, 30, 30])], dtype=object)

In [70]:
values_3 = data[(data['player.id_in_group'] == 2) & (data['session.code'] == '4jlp636g')].\
    groupby('participant.label')['group.fail'].apply(lambda x: list(x.values))
for i, (index, val) in enumerate(values_3.iteritems()):
    values_3[index] = val[:ends[i]]
values_3

participant.label
Горшков Виталий                                        [0, 0, 0]
Елсуков                                 [1, 1, 0, 1, 0, 0, 0, 0]
Колчинский Иван    [1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Мустафин Глеб                                             [0, 0]
Саттаров Олег                                    [0, 0, 0, 0, 0]
Name: group.fail, dtype: object

**Во второй сессии работники либо старались, либо ленились при зарплате < 55, тем не менее после того как фирма поднимала зарплату, они начинали стараться.**

**Рассмотрим третью сессию.**

In [71]:
data[data['session.code'] == 'pofssptm'][['participant.label', 'group.num_rounds_new']][:10]

    participant.label  group.num_rounds_new
400     Саттаров Олег                    10
401            Черкез                     7
402   Колчинский Иван                     7
403   Горшков Виталий                     1
404     Мустафин Глеб                     5
405     Наседкин Илья                    10
406           Елсуков                     2
407    Меньшиков Мопс                     1
408           Валиева                     2
409  Меньшикова Ольга                     5

In [73]:
values_1 = data[(data['player.id_in_group'] == 1) & (data['session.code'] == 'pofssptm')].\
    groupby('participant.label')['group.salary'].apply(lambda x: list(x.values))
ends = [1, 2, 5, 10, 7]
for i, (index, val) in enumerate(values_1.iteritems()):
    values_1[index] = val[:ends[i]]
values_1

participant.label
Горшков Виталий                                         [65]
Елсуков                                             [55, 45]
Меньшикова Ольга                        [50, 55, 55, 55, 55]
Саттаров Олег       [55, 55, 55, 55, 55, 55, 55, 55, 55, 55]
Черкез                           [65, 5, 65, 75, 65, 65, 65]
Name: group.salary, dtype: object

In [75]:
values_2 = data[(data['player.id_in_group'] == 2) & (data['session.code'] == 'pofssptm')].\
    groupby('participant.label')['group.staff'].apply(lambda x: list(x.values))
ends = [2, 7, 1, 5, 10]
for i, (index, val) in enumerate(values_2.iteritems()):
    values_2[index] = val[:ends[i]]
values_2

participant.label
Валиева                                             [30, 0]
Колчинский Иван                 [30, 0, 30, 30, 30, 30, 30]
Меньшиков Мопс                                         [30]
Мустафин Глеб                           [0, 30, 30, 30, 30]
Наседкин Илья      [30, 30, 30, 30, 30, 30, 30, 30, 30, 30]
Name: group.staff, dtype: object

**В третьей сессии предложения зарплаты были в целом выше (в основном не меньше 55), работники старались кроме двух случаев с зарплатами 5 и 45.**